<div class="row">
    <div class="col-md-6">
        <div class="public-room">
            <h2 class="header">YOUR ROOM IS</h2>
            <label class="switch-label">
                <span ng-if="room.config.open">PUBLIC</span>
                <span ng-if="!room.config.open">PRIVATE</span>
                <div class="switch-container" ng-click="toggleOpen()">
                    <div class="switch-track" ng-class="{private: !room.config.open}">
                        <div class="switch"></div>
                    </div>
                </div>
                <span ng-if="room.config.open">PRIVATE</span>
                <span ng-if="!room.config.open">PUBLIC</span>
            </label>
            <div class="password-container" ng-if="!room.config.open">
                <label>Password:</label>
                <input type="text" class="form-control" ng-model="room.config.password" readonly/>
            </div>
        </div>
    </div>
</div>
